<phpunit bootstrap="../test_bootstrap.php"
         colors="true"
         verbose="true"
    >
    <testsuites>
        <testsuite name="Assignment1Part2 Test Suite">
            <directory>../*</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist>
        <directory>../../Src</directory>
      </whitelist>
    </filter>
</phpunit>
